a {
  color: inherit;
}

.container__big-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

.big-card__photo {
  width: 100%;
}

.big-card__photo > img {
  width: 100%;
  object-fit: cover;
}

.big-card__title > h2 {
  font-size: 1.25;
  margin-top: 15px;
}

.big-card__description > p {
  color: grey;
  margin-top: 10px;
}
