.container__content {
  width: min(100%, 1280px);
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  padding: 0 10px;
}

.content__cover {
  position: relative;
}

.content__cover a {
  display: inline-block;
  color: inherit;
  border: 1px solid white;
  background-color: #111;
  padding: 10px;
  border-radius: 5px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.content__cover a:hover {
  background-color: white;
  color: #111;
}

.content__cover img {
  width: min(500px, 100%);
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}

.content__description {
  margin-top: 15px;
}

.content__description p {
  color: gray;
}
