.container__articles {
  display: flex;
  gap: 15px;
  width: min(100%, 1280px);
  margin: 15px auto;
  padding: 0 15px;
  justify-content: center;
  flex-direction: column;
}

@media screen and (min-width: 992px) {
  .container__articles {
    flex-direction: row;
  }
}
