<header>
  <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      cover="https://ogimg.infoglobo.com.br/in/24907109-c86-bcf/FT1086A/760/avatar-a-lenda-de-aang.jpg"
      description="Na última semana a netflix confirmou as datas de lançamento do trailer da série..."
      title="Netflix divulga data de lançamento do trailer da série live-action de Avatar: A Lenda de Aang"
    ></app-big-card>
  </div>

  <div class="articles__others">
    <app-small-card></app-small-card>
    <app-small-card></app-small-card>
    <app-small-card></app-small-card>
  </div>
</div>
